.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  > header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    border-bottom: 1px solid #dddddd;
    background: #ffffff;
    box-shadow: rgba(141, 158, 167, .13) 0 4px 10px 0;
    z-index: 100;

    .logo {
      width: 99.84px;
      height: 100%;
      background-image: url('../assets/cube-light.png');
      background-size: contain;
    }

    nav {
      margin-right: 2em;

      ul {
        display: flex;
      }

      li {
        font-size: 1.2em;
        cursor: pointer;

        + li {
          margin-left: 1em;
        }
      }
    }
  }

  > main {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: calc(100vh - 52px);

    > section {
      height: 100%;
      overflow: auto;
    }

    > section:first-of-type {
      // width: 300px;
    }

    > section:nth-of-type(2) {
      flex: 1;
      height: 100%;
      padding: 20px 20px 40px;
      background: #f5f5f5;
      background-image: linear-gradient(90deg, rgba(50, 0, 0, .05) 3%, rgba(0, 0, 0, 0) 3%), linear-gradient(360deg, rgba(50, 0, 0, .05) 3%, rgba(0, 0, 0, 0) 3%);
      background-position: center center;
      background-size: 20px 20px;
      overflow: auto;
      // border-right: 1px solid #dddddd;
    }

    > section:last-of-type {
      width: 300px;
      // padding: 10px 0;
      box-shadow: rgba(39, 54, 78, .11) 0 -2px 10px 0;
    }
  }
}
