.wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: var(--editor-padding-vertical-medium) 0;
  font-size: var(--editor-text-font-size-helper);

  > span {
    display: flex;
    align-items: center;
    color: var(--editor-text-color-primary);
    white-space: nowrap;

    .desc {
      color: var(--editor-text-color-second);
    }
  }

  > div {
    flex: 1;
    margin-left: var(--editor-padding-horizontal-medium);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: right;
  }
}
