.wrapper {
  user-select: none;

  ul {
    padding: 1em;
  }

  li {
    display: flex;
    padding: 8px 12px;
    border: 1px dashed #dddddd;
    color: #333333;
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    cursor: move;

    > div {
      display: flex;
      align-items: center;
      color: var(--editor-primary-color);

      + div {
        margin-left: 8px;
      }

      &:last-of-type {
        flex-direction: column;
        align-items: flex-start;
        width: calc(100% - 40px);

        p {
          width: 100%;
          margin: 0;
          text-align: left;

          &:first-of-type {
            color: #333333;
            font-weight: 600;
          }

          &:last-of-type {
            color: #666666;
          }
        }
      }
    }

    + li {
      margin-top: 1em;
    }
  }
}
