.wrapper {
  > div > div {
    display: flex;
    align-items: center;
    min-width: 90px;
    height: 32px;
    padding: 4px 11px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    background-color: #ffffff;

    .block {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      margin-right: 4px;
    }
  }
}
