.imgWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 4px;
  background-color: #ffffff;

  img {
    width: 64px;
  }

  span {
    display: inline-block;
    flex: 1;
    margin-left: 8px;
    overflow: hidden;
    font-size: .8em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
